@import "reset.less";

.yo {
	text-align: center;
	width: 370px;
	height: 667px;
	color: #FFF;
	font-size: 32px;
	background: #9B59B6;

	ul {
		li:nth-child(1) {
			background: #09997D;
			padding: 20px;
		}
		li:nth-child(2) {
			background: #34485F;
			padding: 20px;
		}
		li:nth-child(3) {
			background: #F0C700;
			padding: 20px;
		}
		li:nth-child(4) {
			background: #2B83B6;
			padding: 20px;
		}
		li:nth-child(5) {
			background: #33495C;
			padding: 20px;
		}
		li:nth-child(6) {
			background: #55B496;
			padding: 20px;
		}
		li:nth-child(7) {
			background: #2B83B6;
			padding: 20px;
		}
		li:nth-child(8) {
			background: #F0C700;
			padding: 20px;
		}
		li:nth-child(9) {
			background: #34485F;
			padding: 20px;
		}
		li:nth-child(10) {
			background: #55B496;
			padding: 20px;
		}
	}
}
