<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>RADYO</h1>
      <p>The fastest way to add radio track</p>
    </header>
    <section>
      <div class="yo">
        @iphone() {
        <ul>
          <li>FIP</li>
          <li>OUIFM</li>
          <li>NOVA</li>
          <li>RADIO3</li>
          <li>FRANCEMUSIQUE</li>
          <li>FRANCEINTER</li>
          <li>LEMOUV</li>
          <li>GREG</li>
          <li>SCOTT</li>
          <li>CLARA</li>
        </ul>
        }
      </div>
      <div class="playlist">
        @iphone() {
        }
      </div>
    </section>
    <section>
       <ul>
         <li>télécharger <a href="http://www.justyo.co/">YO app</a></li>
         <li><a href="https://radyo.herokuapp.com/auth">connectez-vous avec Spotify</a>, indiquez votre nom d'utilisateur YO, choisissez la playlist à remplir</li>
        <li>tout est bon ! envoyez simplement un Yo à FIP, OUIFM ou YONOVA pour ajouter le morceau à l'antenne sur la playlist Spotify</li>
      </ul>
    </section>
  </body>
</html>
