<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/JSXTransformer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/react-with-addons.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/components/Header.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/components/Cockpit.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/components/Home.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/components/MainPage.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/jsx"></script>
    </head>
    <body>
      <div id=app></div>
    </body>
</html>
