@(title: String)<!DOCTYPE html>
<html>
<head>
  <title>La chanson n'a pas été trouvée</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:700,400">
  <style type="text/css">
      img {
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
      }
      body {
        padding: 0;
        margin: 0;
        background-color: #2ecc71;
      }
      h1 {
        display: block;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        background-color: #3498db;
        color: white;
        font-family: Montserrat;
        padding: 20px 20px;
        font-size: 19px;
      }
    </style>
</head>
<body>
  <h1>Chanson inexistante sur spotify: @title</h1>
</body>
</html>